$umass-maroon: #881c1c;
$umass-black: #212721;

$umass-light-grey: #a2aaad;
$umass-grey: #505759;
$umass-dark-grey: #373a36;

$primary: $umass-maroon;
$secondary: $umass-grey;
$dark: $umass-black;

.dropdown-menu {
  height: auto;
  max-height: 300px;
  overflow-y: auto;
}

@import "~bootstrap/scss/bootstrap.scss";

$bootstrap-icons-font-dir: "../../node_modules/bootstrap-icons/font/fonts";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

.mapouter {
  position: relative;
  text-align: right;
  height: 255px;
  width: 255px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 255px;
  width: 255px;
}

.reservationModalFooterButtonConfirm {
  text-align: left;
}

#home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    place-items: center;
    justify-content: center;
  }
}

#login {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.umass.edu%2Feducation%2Fsites%2Fdefault%2Ffiles%2Fstyles%2F16_9_1080p_hd_landscape%2Fpublic%2Fhero-header%2Fcampus_aerial.jpg%3Fitok%3D3_eMIHMH%26c%3Ddd60801e98e7bce53d142a04840dd0a7&f=1&nofb=1&ipt=480ca194e51776cad9abae7df7db8f9f0a15e3477789b1ed51a2742de951b4a6&ipo=images");
  background-size: cover;
}
