$umass-maroon: #881c1c;
$umass-black: #212721;

$umass-light-grey: #a2aaad;
$umass-grey: #505759;
$umass-dark-grey: #373a36;

$primary: $umass-maroon;
$secondary: $umass-grey;
$dark: $umass-black;

.dropdown-menu {
  height: auto;
  max-height: 300px;
  overflow-y: auto;
}

@import "~bootstrap/scss/bootstrap.scss";

$bootstrap-icons-font-dir: "../../node_modules/bootstrap-icons/font/fonts";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

.mapouter {
  position: relative;
  text-align: right;
  height: 255px;
  width: 255px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 255px;
  width: 255px;
}

.reservationModalFooterButtonConfirm {
  text-align: left;
}

.umass-background {
  background-image: url("https://www.umass.edu/education/sites/default/files/styles/16_9_1080p_hd_landscape/public/hero-header/campus_aerial.jpg");
  background-size: cover;
}

.blurred-backdrop {
  backdrop-filter: blur(10px);
}

.vertical-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
